.error-message {
    display: flex;
    flex-direction: column;
}

.error-message ul {
    list-style-type: none;
}

.error-message ul li.error-name {
    font-weight: 900;
}

.error-message ul li.error-stack {
    color: #a3a3a3;
}
