.list-item {
    box-sizing: border-box;
    margin: 10px;
    flex: 1 0 calc(100% - 20px);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    background: #f8f8f8;
    transition: 0.25s;
}

.list-item:hover {
    background: #ffffff;
}

.list-item a {
    text-decoration: none;
    color: #3939aa !important;
    display: flex;
    flex-direction: column;
}

.list-item h2 {
    flex-grow: 1;
    text-transform: capitalize;
}

.list-item .read-more {
    font-style: italic;
    font-size: 0.8em;
    /* align-content: flex-end; */
}

@media screen and (min-width: 1024px) {
    .list-item {
        flex: 1 1 calc(25% - 22px);
    }
}
