.app {
    background: #2c3c6d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.app .app-content {
    height: 100%;
}

.app .app-content header {
    background: #ffffff;
    text-align: center;
    padding: 25px;
}

.app .app-content header a {
    color: black;
    text-decoration: none;
}

.app .app-content header h1 {
    font-size: 48px;
}

.app .app-content section {
    background: #f0f0ff;
    padding: 5px 10px;
    height: fit-content;
}

@media screen and (min-width: 1024px) {
    .app .app-content section {
        margin: 0 100px;
        background: #f0f0ff;
        padding: 10px 25px;
    }
}
